<div id="MobileListWrapper">
    <p> Please click on buy button to buy the books</p>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search here ...">
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <ul class="list-unstyled">
        <li class="mobile" style="background: white url(imgs/{{mobile.imageUrl}}) no-repeat" ng-repeat="mobile in kart">
            <div class="mobile-details clearfix">
                <h3>{{mobile.name}}</h3>
                <p>{{mobile.price}}</p>
                <ul class="list-unstyled list-inline">
                    <li>Rating: {{mobile.rating}}</li>
                    <li>Manufacturer: {{mobile.manufacturer}}</li>
                </ul>
                <p>{{mobile.description}}</p>
                <button class="btn btn-info pull-right" ng-click="buy(mobile)">Buy</button>
            </div>
        </li>
    </ul>
</div>